[Desktop Entry]
Version=1.0.0
Type=Application
Name=ArcClock
GenericName=A Simple Desktop Clock
Comment=A Simple Desktop Clock
Categories=Utility;Clock;
Exec=arcclock
Icon=arcclock
